.create_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.create_title {
  position: relative;
  color: #0d6efd;
  font-size: 3rem;
  font-weight: 600;
}

.create_description {
  color: #555;
  max-width: 500px;
  font-size: 1.2rem;
  border-bottom: 3px solid #0d6efd;
}

.form-control {
  width: 400px;
}
