.main_wrapper {
  position: relative;
  background-color: #811d1d;
}

.main_container {
  display: flex;
  height: 93vh;
  transform: translateY(-60px);
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.main_text {
  width: 50%;
}

.main_title {
  position: relative;
  color: rgb(46, 46, 46);
  font-size: 3rem;
  font-weight: 600;
}

.main_description {
  color: #777;
  max-width: 460px;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
}

.main_content {
  display: flex;
}

.main_admin_btn {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ca1e1e;
  border-radius: 0.5rem;
  margin-right: 1.25rem;
  color: #fff;
}

.main_admin_btn:hover {
  background-color: #9e3232;
  cursor: pointer;
}

.main_user_btn {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #198754;
  border-radius: 0.5rem;
  margin-right: 1.25rem;
  color: #fff;
}

.main_user_btn:hover {
  background-color: #27572f;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main_bg {
    width: 450px;
    height: 450px;
  }

  .main_title {
    font-size: 2rem;
  }

  .main_description {
    font-size: 1.4rem;
  }
}
