.user_container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.user_title {
  position: relative;
  color: #198754;
  font-size: 3rem;
  font-weight: 600;
}

.user_description {
  color: #555;
  max-width: 500px;
  font-size: 1.2rem;
  border-bottom: 3px solid #198754;
}
